.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  padding: 2% 5%;
  height: 5vh;
  background-color: var(--background);
  color: var(--headline);
  justify-content: space-between;
  z-index: -1;
}

.mobileFooter {
  display: none;
}

.mediumLogo, .LILogo, .GHLogo, .TWLogo {
  filter: brightness(0) invert(100%) opacity(60%);
  transition: .2s;
}
.mediumLogo:hover, .LILogo:hover, .GHLogo:hover, .TWLogo:hover {
  cursor: pointer;
  filter: brightness(0) invert(100%) opacity(90%);
}

.mediumLogo2, .LILogo2, .GHLogo2, .TWLogo2 {
  filter: invert(100%) opacity(60%);
}
.mediumLogo2:hover, .LILogo2:hover, .GHLogo2:hover, .TWLogo2:hover {
  cursor: pointer;
  filter: brightness(0) invert(100%) opacity(90%);
}

@media screen and (max-width: 875px) {

  .footer {
    display: none;
  }

  .mobileFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    padding: 2% 5%;
    height: 8vh;
    background-color: var(--background);
    justify-content: space-around;
  }

}