@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

html {
  --background: hsl(210deg 30% 8%);
  --headline: hsl(290deg 0% 90%);
  --paragraph: hsl(290deg 0% 75%);
  --highlight: #e610c9;
  --secondary: hsl(333 100% 25%);
  --tertiary: hsl(230 100% 70%);
  --success: hsl(149, 95%, 45%);
  --error: hsl(341, 100%, 45%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
#__next {
  height: 100%;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  background-size: 120% 120%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(125deg, #5d062d, #52093e, #450c47, #2e0d3d, #1d0f33, #120f2b, #0f1222, #0e141b);
  overflow: hidden;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
a {
  text-decoration: inherit;
  color: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1 {
  font-size: 3rem !important;
  font-weight: 450 !important;
}
h5 {
  font-weight: 300;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
}