@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

.container {
  height: 90%;
  padding: 0 2rem;
  margin-top: 50px;
  position: relative;
  z-index: -1;
}

.homePage {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 5fr 2fr;
  min-height: 95%;
  z-index: -1;
}

.centerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: -25px;
  z-index: -2;
}

.info {
  margin-bottom: 5vh;
}

.heading {
  color: var(--headline);
  font-size: 5rem;
  font-weight: bold;
}

.caption {
  font-size: 1.5rem;
  color: var(--paragraph);
}

.picture {
  min-width: 500px;
  min-height: 470px;
  max-width: 500px;
  max-height: 470px;
  border-radius: 50%;
  background-color: hsl(290deg 0% 50%);
}

.flair {
  border-radius: 50% 1% 50% 50%;
  background-color: hsl(290deg 0% 50%);
}

.leftHome, .rightHome {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--paragraph);
  font-size: x-large;
  opacity: 50%;
  z-index: -5;
}

.leftHome {
  transform: rotate(270deg);
}

.rightHome {
  transform: rotate(90deg);
}

.letters {
  margin-left: 13px;
  margin-right: 12px;
}

#hireMe {
  display: none;
  font-size: large;
  padding: 16px 32px;
  margin-top: 50px;
  background-color: transparent;
  color: var(--headline);
  border: 1px solid var(--headline);
  position: relative;
  z-index: -1;
}

#hireMe:hover {
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  
  #hireMe {
    display: flex;
    position: relative;
    transform: 0;
  }
  

  .picture {
    min-width: 250px;
    min-height: 235px;
    max-width: 250px;
    max-height: 235px;
  }

  .heading {
    font-size: 3rem;
  }

  .caption {
    font-size: 1.3rem;
  }

  .flair {
    z-index: -1;
  }

  .homePage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftHome, .rightHome {
    display: none;
  }

}