@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

.container {
  height: 100%;
  padding: 0 2rem;
}

.homePage {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  min-height: 100%;
}

.centerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: -25px;
}

.info {
  margin-bottom: 5vh;
}

.heading {
  color: var(--headline);
  font-size: 5rem;
  font-weight: bold;
}

.caption {
  font-size: 1.5rem;
  color: var(--paragraph);
}

.picture {
  /* background-image: url(../public/Portrait2.png); */
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: 60% 20%;
  border-radius: 50%;
  background-color: hsl(290deg 0% 50%);
  z-index: 90;
}

.flair {
  background-color: red;
  z-index: 85;
  border-radius: 50% 1% 50% 50%;
  background-color: hsl(290deg 0% 50%);
}

.leftHome, .rightHome {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--paragraph);
  font-size: x-large;
  opacity: 50%;
}

.leftHome {
  transform: rotate(270deg);
}

.rightHome {
  transform: rotate(90deg);
}

.letters {
  margin-left: 13px;
  margin-right: 12px;
}

#hireMe {
  display: none;
  padding: 8px 18px;
  margin-top: 50px;
  background-color: transparent;
  color: var(--headline);
  border: 1px solid var(--headline);
  cursor: pointer;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 875px) {

  #hireMe {
    display: flex;
  }

  .picture {
    width: 300px;
    height: 300px;
    background-size: 400px 375px;
  }

  .heading {
    font-size: 3rem;
  }

  .caption {
    font-size: 1.3rem;
  }

  .flair {
    z-index: -1;
  }

  .homePage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftHome, .rightHome {
    display: none;
  }

}