html {
  --background: hsl(210deg 30% 8%);
  --headline: hsl(290deg 0% 90%);
  --paragraph: hsl(290deg 0% 75%);
  --highlight: hsl(333 95% 52%);
  --secondary: hsl(333 100% 25%);
  --tertiary: hsl(230 100% 70%);
}